<!DOCTYPE html>
{% extends "pdfscanner/base.html" %}
{% load filename %}
{% load filesize %}
{% load filetime %}
{% load filepagecount %}
{% load settingsname %}

{% block body_block %}
<div class="jumbotron">
  <div id="mySidenav" class="sidenav">
      <a href="#" class="openbtn" onclick="openNavAnalyseDocument()" style="font-size:20px;
                                                                            padding-left:45px;
                                                                            background-color: #a5a8b4;
                                                                            top: 120px;">
        <img class="zoom"  src="/static/icons/gear.png" style="width:48px;height:48px;">
      </a>


  </div>

  <form method="POST" enctype="multipart/form-data">
    {% if documents.count == 0 %}
    <p> please add some pdf to analyse </p>
      <a class="btn btn-primary btn-lg" href="uploaddocument.html" role="button">Upload PDF</a>
    {% else %}

    <h1 style="text-align: center;" >List of PDF(s) Available for analysis</h1>

<div id="mySidenav" class="sidenav">
    <a href="#" class="openbtn" style="font-size:20px;
                                       padding-left:45px;
                                       top: 200px;
                                       background-color: #A8B4A5;">
    <button type="submit" style=" background: none;
	                              color: inherit;
                                  border: none;
	                              padding: 0;
	                              font: inherit;
	                              cursor: pointer;
	                              outline: inherit;
                                  width:auto">
      <img class = "zoom" src="/static/icons/analysis.png" style="width:48px;height:48px;">
    </button>
    </a>
  </div>

    <table class="table table-striped table-hover table-bordered" id="example" style="font-size:12px; width:100%;">
      <thead class="thead-dark">
      <tr>
        <th scope="col" width="10%">File Name</th>
        <th scope="col" style="text-align:center;" width="10%">Size</th>
        <th scope="col" style="text-align:center;"width="10%">Pages</th>
        <th scope="col" style="text-align:center;" width="50%">Date Added</th>
        <th scope="col" style="text-align:center;" width="10%">Select</th>
        <th scope="col" style="text-align:center;" width="10%">Delete</th>
      </tr>
      </thead>
      {% for document in documents %}
      <form class="" action="index.html" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>

          <td><b style='text-transform: capitalize;' width="5%"> {{ document.file_field|filename }}</b></td>
          <td style="text-align:center;" width="10%">{{ document.file_field|filesize }} kB</td>
          <td style="text-align:center;" width="10%">{{ document.file_field|filepagecount }}</td>
          <td style="text-align:center;" width="55%">{{ document.file_field|filetime }}</td>
          <td style="text-align:center;" width="10%"><input type="checkbox" name="doc" value={{document.file_field.url}}></td></input>
          <td style="text-align:center;" width="10%">
            <a class = "zoom" href="{% url 'deletedocument' document.pk %}">&#10060;</a>
          </td>
          {% endfor %}
        </tr>
  </table>

    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" style="padding-top: 80px;" onclick="closeNav()">&#9747;</a>

      <div style="padding-top: 80px;">
<!--        <button type="submit" class="btn btn-outline-primary" name = "load_settings"-->
<!--                                                           style="text-align: center;-->
<!--                                                           margin-bottom:10px;-->
<!--                                                           margin-left:5px;-->
<!--                                                           margin-right:5px;-->
<!--                                                           width: 99%;">Load Settings</button>-->

      <table class="table" style="font-size: 14px; text-align:center;">
        <thead class="thead-dark">
        <tr>
          <th scope="col"> Type </th>
          <th scope="col"> Keep </th>
          <th scope="col"> Opacity </th>
          <th scope="col"> Highlight </th>
          <th scope="col"> Underline </th>
          <th scope="col"> Rectangle </th>
          <th scope="col"> Squiggly underline </th>
          <th scope="col"> Color </th>
        </tr>
        </thead>
        <tbody>

<!-- ADDRESS -->
        <tr>
          <td><a href="#">ADDRESS</a></td>
          <td><input type="checkbox" name="addresscheck" id="addresscheck" checked></td>
          <td><input type="range" name="addressrange" id="addressrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="addressHighlight" name="addresshighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="addressUnderline" name="addresshighlightstyle" value="Underline"></td>
          <td><input type="radio" id="addressRectangle" name="addresshighlightstyle" value="Rectangle"></td>
         <td><input type="radio" id="addressSquigglyunderline" name="addresshighlightstyle" value="Squiggly underline"></td>
          <td><select name="addresscolor" id="addresscolor" onchange="updateCheckBoxAddress(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink" selected>HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
            <option value="Custom">Custom</option></select>
            <input id="customaddresscolor" name="customaddresscolor" type="color" value="#FF69B4" disabled>
          </td>
        </tr>

<!-- BARCODE -->
        <tr>
          <td><a href="#">BARCODE</a></td>
          <td><input type="checkbox" name="barcheck" id="barcheck" checked></td>
          <td><input type="range" name="barrange" id="barrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="barHighlight" name="barhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="barUnderline" name="barhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="barRectangle" name="barhighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="barSquigglyunderline" name="barhighlightstyle" value="Squiggly underline"></td>
          <td><select name="barcolor" id="barcolor" onchange="updateCheckBoxBar(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon" selected>Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
            <option value="Custom">Custom</option></select>
            <input id="custombarcolor" name="custombarcolor" type="color" value="#fa8072" disabled>
          </td>
        </tr>

<!-- CASELAW -->
        <tr>
          <td><a href="#">CASELAW</a></td>
          <td><input type="checkbox" name="caselawcheck" id="caselawcheck"checked></td>
          <td><input type="range" name="caselawrange" id="caselawrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="caselawHighlight" name="caselawhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="caselawUnderline" name="caselawhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="caselawRectangle" name="caselawhighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="caselawSquigglyunderline" name="caselawhighlightstyle" value="Squiggly underline"></td>
          <td><select name="caselawcolor" id="caselawcolor" onchange="updateCheckBoxCaseLaw(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2" selected>Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
            <option value="Custom">Custom</option></select>
            <input id="customcaselawcolor" name="customcaselawcolor" type="color" value="#841F27" disabled>
          </td>
        </tr>

<!-- DATE -->
        <tr>
          <td><a href="#">DATE</a></td>
          <td><input type="checkbox" name="datecheck" id="datecheck"checked></td>
          <td><input type="range" name="daterange" id="daterange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="dateHighlight" name="datehighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="dateUnderline" name="datehighlightstyle" value="Underline"></td>
          <td><input type="radio" id="dateRectangle" name="datehighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="dateSquigglyunderline" name="datehighlightstyle" value="Squiggly underline"></td>
          <td><select name="datecolor" id="datecolor" onchange="updateCheckBoxDate(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green" selected>Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customdatecolor" name="customdatecolor" type="color" value="#008000" disabled>
          </td>
        </tr>

<!-- EMAIL -->
        <tr>
          <td><a href="#">EMAIL</a></td>
          <td><input type="checkbox" name="emailcheck" id="emailcheck"checked></td>
          <td><input type="range" name="emailrange" id="emailrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="emailHighlight" name="emailhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="emailUnderline" name="emailhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="emailRectangle" name="emailhighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="emailSquigglyunderline" name="emailhighlightstyle" value="Squiggly underline"></td>
          <td><select name="emailcolor" id="emailcolor" onchange="updateCheckBoxEmail(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta" selected>Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customemailcolor" name="customemailcolor" type="color" value="#FF00FF" disabled>
          </td>
        </tr>

<!-- LAW -->
        <tr>
          <td><a href="#">LAW</a></td>
          <td><input type="checkbox" name="lawcheck" id="lawcheck"checked></td>
          <td><input type="range" name="lawrange" id="lawrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="lawHighlight" name="lawhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="lawUnderline" name="lawhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="lawRectangle" name="lawhighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="lawSquigglyunderline" name="lawhighlightstyle" value="Squiggly underline"></td>
          <td><select name="lawcolor" id="lawcolor" onchange="updateCheckBoxLaw(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick" selected>Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customlawcolor" name="customlawcolor" type="color" value="#cb4154" disabled>
          </td>
        </tr>

<!-- MONEY -->
        <tr>
          <td><a href="#">MONEY</a></td>
          <td><input type="checkbox" name="moneycheck" id="moneycheck"checked></td>
          <td><input type="range" name="moneyrange" id="moneyrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="moneyHighlight" name="moneyhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="moneyUnderline" name="moneyhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="moneyRectangle" name="moneyhighlightstyle" value="Rectangle"></td>
         <td><input type="radio" id="moneySquigglyunderline" name="moneyhighlightstyle" value="Squiggly underline"></td>
          <td><select name="moneycolor" id="moneycolor" onchange="updateCheckBoxMoney(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow" selected>LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="custommoneycolor" name="custommoneycolor" type="color" value="#FFFF00" disabled>
          </td>
        </tr>

<!-- NEGATIVE_POINT -->
        <tr>
          <td><a href="#">NEGATIVE_POINT</a></td>
          <td><input type="checkbox" name="negativepointcheck" id="negativepointcheck" checked></td>
          <td><input type="range" name="negativepointrange" id="negativepointrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="negativepointHighlight" name="negativepointhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="negativepointUnderline" name="negativepointhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="negativepointRectangle" name="negativepointhighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="nnegativepointSquigglyunderline" name="negativepointhighlightstyle" value="Squiggly underline"></td>
          <td><select name="negativepointcolor" id="negativepointcolor" onchange="updateCheckBoxNegativePoint(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red" selected>Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customnegativepointcolor" name="customnegativepointcolor" value="#FF0000" type="color" disabled>
          </td>
        </tr>

<!-- NUMBER -->
        <tr>
          <td><a href="#">NUMBER</a></td>
          <td><input type="checkbox" name="numcheck" id="numcheck"checked></td>
          <td><input type="range" name="numrange" id="numrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="numHighlight" name="numhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="numUnderline" name="numhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="numRectangle" name="numhighlightstyle" value="Rectangle"></td>
         <td><input type="radio" id="numSquigglyunderline" name="numhighlightstyle" value="Squiggly underline"></td>
          <td><select name="numcolor" id="numcolor" onchange="updateCheckBoxNumber(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink" selected>PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customnumcolor" name="customnumcolor" type="color" value="#ffb6c1" disabled>
          </td>
        </tr>

<!-- ORG -->
        <tr>
          <td><a href="#">ORG</a></td>
          <td><input type="checkbox" name="orgcheck" id="orgcheck"checked></td>
          <td><input type="range" name="orgrange" id="orgrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="orgHighlight" name="orghighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="orgUnderline" name="orghighlightstyle" value="Underline"></td>
          <td><input type="radio" id="orgRectangle" name="orghighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="orgSquigglyunderline" name="orghighlightstyle" value="Squiggly underline"></td>
          <td><select name="orgcolor" id="orgcolor" onchange="updateCheckBoxOrg(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue" selected>Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customorgcolor" name="customorgcolor" type="color" value="#3195b7" disabled>
          </td>
        </tr>

<!-- PERSON -->
        <tr>
          <td><a href="#">PERSON</a></td>
          <td><input type="checkbox" name="personcheck" id="personcheck"checked></td>
          <td><input type="range" name="personrange" id="personrange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="personHighlight" name="personhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="personUnderline" name="personhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="personRectangle" name="personhighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="personSquigglyunderline" name="personhighlightstyle" value="Squiggly underline"></td>
          <td><select name="personcolor" id="personcolor" onchange="updateCheckBoxPerson(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan" selected>Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="custompersoncolor" name="custompersoncolor" type="color" value="#00FFFF" disabled>
          </td>
        </tr>

<!-- QUOTE -->
        <tr>
          <td><a href="#">QUOTE</a></td>
          <td><input type="checkbox" name="quotecheck" id="quotecheck"checked></td>
          <td><input type="range" name="quoterange" id="quoterange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="quoteHighlight" name="quotehighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="quoteUnderline" name="quotehighlightstyle" value="Underline"></td>
          <td><input type="radio" id="quoteRectangle" name="quotehighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="quoteSquigglyunderline" name="quotehighlightstyle" value="Squiggly underline"></td>
          <td><select name="quotecolor" id="quotecolor" onchange="updateCheckBoxQuote(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple" selected>Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customquotecolor" name="customquotecolor" type="color" value="#b19cd9" disabled>
          </td>
        </tr>

<!-- TIME -->
        <tr>
          <td><a href="#">TIME</a></td>
          <td><input type="checkbox" name="timecheck" id="timecheck" checked></td>
          <td><input type="range" name="timerange" id="timerange" min="0" max="1" step="0.05" value="0.25" ></td>
          <td><input type="radio" id="timeHighlight" name="timehighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="timeUnderline" name="timehighlightstyle" value="Underline"></td>
          <td><input type="radio" id="timeRectangle" name="timehighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="timeSquigglyunderline" name="timehighlightstyle" value="Squiggly underline"></td>
          <td><select name="timecolor" id="timecolor" onchange="updateCheckBoxTime(this)">
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua" selected>Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customtimecolor" name="customtimecolor" type="color" value="#00FFFF" disabled>
          </td>
        </tr>

<!-- WORD -->
        <tr>
          <td><a href="#">WORD</a></td>
          <td><input type="checkbox" name="wordcheck" id="wordcheck"></td>
          <td><input id="wordrange" type="range" name="wordrange" min="0" max="1" step="0.05" value="0.25"></td>
          <td><input type="radio" id="wordHighlight" name="wordhighlightstyle" value="Highlight" checked></td>
          <td><input type="radio" id="wordUnderline" name="wordhighlightstyle" value="Underline"></td>
          <td><input type="radio" id="wordRectangle" name="wordhighlightstyle" value="Rectangle"></td>
          <td><input type="radio" id="wordSquigglyunderline" name="wordhighlightstyle" value="Squiggly underline"></td>
          <td><select name="wordcolor" id="wordcolor" onchange="updateCheckBoxWord(this)">
            <option value="Grey" selected>Grey</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Orange">Orange</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Lime">Lime</option>
            <option value="Aqua">Aqua</option>
            <option value="Cyan">Cyan</option>
            <option value="Mid_Blue">Mid_Blue</option>
            <option value="Dark_Blue">Dark_Blue</option>
            <option value="Purple">Purple</option>
            <option value="Magenta">Magenta</option>
            <option value="HotPink">HotPink</option>
            <option value="Brick">Brick</option>
            <option value="Brick2">Brick2</option>
            <option value="Salmon">Salmon</option>
            <option value="PalePink">PalePink</option>
            <option value="Light_Purple">Light_Purple</option>
            <option value="LtYellow">LtYellow</option>
          <option value="Custom">Custom</option></select>
            <input id="customwordcolor" name="customwordcolor" type="color" value="#D3D3D3" disabled>
          </td>
        </tr>

        </tbody>
        </table>

      </div>
      <a class="btn btn-outline-primary"
         onclick="reset()"
              style="text-align: center;
              margin-bottom:10px;
              margin-left:5px;
              margin-right:5px;
              width: 99%;">Reset Settings</a>
      <div>
        <input type="text" name="save_settings_as" placeholder="Save Settings As"
               style="text-align: center;
               margin-bottom:10px;
               margin-left:5px;
               margin-right:5px;
               width: 99%;
               height:10px;">
        <button type="submit" class="btn btn-outline-primary"  name = "save_settings"
                                                           style="text-align: center;
                                                           margin-bottom:10px;
                                                           margin-left:5px;
                                                           margin-right:5px;
                                                           width: 99%;">Save Settings</button>
              <a href="#" style="text-align: center;
                margin-bottom:10px;
                margin-left:5px;
                margin-right:5px;
                width: 99%;">
        <b>*</b> The uploaded file will override all the selected settings
      </a>

          <button type="submit" class="btn btn-outline-primary"  name = "view_settings"
                                                           style="text-align: center;
                                                           height: 8.5%;
                                                           width: 16.5%;
                                                           right: 3px;
                                                           position: absolute;">View Settings</button>

        <select name="usersettings" id="usersettings"
                style="width: 82%;
                text-align: center;
                margin-bottom:10px;
                margin-left:5px;
                margin-right:5px">
          <option disabled selected value> -- Select from saved settings -- </option>
          {% for settings in user_settings %}
          <option value="{{ settings.setting_field }} ">{{ settings.setting_field|settingsname }} </option>
          {% endfor %}
        </select>

        <div class="custom-file" style="text-align: center;
                                        margin-bottom:10px;
                                        margin-left:5px;
                                        margin-right:5px;
                                        width: 82%;">
          <label class="custom-file-label" for="customFile">Upload Custom settings JSON</label>
          <input type="file" name="user_settings" class="custom-file-input" id="customFile">
        </div>
    </div>
  </form>


  {% endif %}
</div>
<!--ADDRESS-->
<script>
    function updateCheckBoxAddress(opts) {
        var chks = document.getElementsByName("customaddresscolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--BAR-->
<script>
    function updateCheckBoxBar(opts) {
        var chks = document.getElementsByName("custombarcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--CASELAW-->
<script>
    function updateCheckBoxCaseLaw(opts) {
        var chks = document.getElementsByName("customcaselawcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--EMAIL-->
<script>
    function updateCheckBoxEmail(opts) {
        var chks = document.getElementsByName("customemailcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--DATE-->
<script>
    function updateCheckBoxDate(opts) {
        var chks = document.getElementsByName("customdatecolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--LAW-->
<script>
    function updateCheckBoxLaw(opts) {
        var chks = document.getElementsByName("customlawcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--MONEY-->
<script>
    function updateCheckBoxMoney(opts) {
        var chks = document.getElementsByName("custommoneycolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--NEGATIVE_POINT-->
<script>
    function updateCheckBoxNegativePoint(opts) {
        var chks = document.getElementsByName("customnegativepointcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--NUMBER-->
<script>
    function updateCheckBoxNumber(opts) {
        var chks = document.getElementsByName("customnumcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--ORG-->
<script>
    function updateCheckBoxOrg(opts) {
        var chks = document.getElementsByName("customorgcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--PERSON-->
<script>
    function updateCheckBoxPerson(opts) {
        var chks = document.getElementsByName("custompersoncolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--QUOTE-->
<script>
    function updateCheckBoxQuote(opts) {
        var chks = document.getElementsByName("customquotecolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--TIME-->
<script>
    function updateCheckBoxTime(opts) {
        var chks = document.getElementsByName("customtimecolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--WORD-->
<script>
    function updateCheckBoxWord(opts) {
        var chks = document.getElementsByName("customwordcolor");
        if (opts.value == 'Custom') {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = false;
    }
        }
        else {
            for (var i = 0; i <= chks.length - 1; i++) {
                chks[i].disabled = true;
                chks[i].checked = false;
            }
        }
    }
</script>

<!--RESET SETTINGS-->
<script>
  function reset(){
  document.getElementById('addresscheck').checked = true;
  document.getElementById('barcheck').checked = true;
  document.getElementById('caselawcheck').checked = true;
  document.getElementById('datecheck').checked = true;
  document.getElementById('emailcheck').checked = true;
  document.getElementById('lawcheck').checked = true;
  document.getElementById('moneycheck').checked = true;
  document.getElementById('negativepointcheck').checked = true;
  document.getElementById('numcheck').checked = true;
  document.getElementById('orgcheck').checked = true;
  document.getElementById('personcheck').checked = true;
  document.getElementById('quotecheck').checked = true;
  document.getElementById('timecheck').checked = true;
  document.getElementById('wordcheck').checked = false;

  document.getElementById('addressHighlight').checked = true;
  document.getElementById('barHighlight').checked = true;
  document.getElementById('caselawHighlight').checked = true;
  document.getElementById('dateHighlight').checked = true;
  document.getElementById('emailHighlight').checked = true;
  document.getElementById('lawHighlight').checked = true;
  document.getElementById('moneyHighlight').checked = true;
  document.getElementById('negativepointHighlight').checked = true;
  document.getElementById('numHighlight').checked = true;
  document.getElementById('orgHighlight').checked = true;
  document.getElementById('personHighlight').checked = true;
  document.getElementById('quoteHighlight').checked = true;
  document.getElementById('timeHighlight').checked = true;
  document.getElementById('wordHighlight').checked = true;

  document.getElementById("addressrange").value = "0.25";
  document.getElementById("barrange").value = "0.25";
  document.getElementById("caselawrange").value = "0.25";
  document.getElementById("daterange").value = "0.25";
  document.getElementById("emailrange").value = "0.25";
  document.getElementById("lawrange").value = "0.25";
  document.getElementById("moneyrange").value = "0.25";
  document.getElementById("negativepointrange").value = "0.25";
  document.getElementById("numrange").value = "0.25";
  document.getElementById("orgrange").value = "0.25";
  document.getElementById("personrange").value = "0.25";
  document.getElementById("quoterange").value = "0.25";
  document.getElementById("timerange").value = "0.25";
  document.getElementById("wordrange").value = "0.25";


  document.getElementById('addresscolor').value = 'HotPink'
  document.getElementById('customaddresscolor').value = '#FF69B4'
  document.getElementById("customaddresscolor").disabled = true;

    document.getElementById('barcolor').value = 'Salmon'
  document.getElementById('custombarcolor').value = '#fa8072'
  document.getElementById("custombarcolor").disabled = true;

    document.getElementById('caselawcolor').value = 'Brick2'
  document.getElementById('customcaselawcolor').value = '#841F27'
  document.getElementById("customcaselawcolor").disabled = true;

    document.getElementById('datecolor').value = 'Green'
  document.getElementById('customemailcolor').value = '#008000'
  document.getElementById("customemailcolor").disabled = true;

    document.getElementById('emailcolor').value = 'Magenta'
  document.getElementById('customemailcolor').value = '#FF00FF'
  document.getElementById("customemailcolor").disabled = true;

    document.getElementById('lawcolor').value = 'Brick'
  document.getElementById('customlawcolor').value = '#cb4154'
  document.getElementById("customlawcolor").disabled = true;

    document.getElementById('moneycolor').value = 'LtYellow'
  document.getElementById('custommoneycolor').value = '#FFFF00'
  document.getElementById("custommoneycolor").disabled = true;

    document.getElementById('negativepointcolor').value = 'Red'
  document.getElementById('customnegativepointcolor').value = '#FF0000'
  document.getElementById("customnegativepointcolor").disabled = true;

    document.getElementById('numcolor').value = 'PalePink'
  document.getElementById('customnumcolor').value = '#ffb6c1'
  document.getElementById("customnumcolor").disabled = true;

    document.getElementById('orgcolor').value = 'Mid_blue'
  document.getElementById('customorgcolor').value = '#3195b7'
  document.getElementById("customorgcolor").disabled = true;

    document.getElementById('personcolor').value = 'Cyan'
  document.getElementById('custompersoncolor').value = '#00FFFF'
  document.getElementById("custompersoncolor").disabled = true;

    document.getElementById('quotecolor').value = 'Light_Purple'
  document.getElementById('customquotecolor').value = '#b19cd9'
  document.getElementById("customquotecolor").disabled = true;

    document.getElementById('timecolor').value = 'Aqua'
  document.getElementById('customtimecolor').value = '#00FFFF'
  document.getElementById("customtimecolor").disabled = true;

    document.getElementById('wordcolor').value = 'Grey'
  document.getElementById('customwordcolor').value = '#D3D3D3'
  document.getElementById("customwordcolor").disabled = true;
  }
</script>
{% endblock %}
